[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "mods/ub_essentials"]
	path = mods/ub_essentials
	url = https://github.com/applesthepi/ub-essentials
[submodule "mods/ub_vanilla"]
	path = mods/ub_vanilla
	url = https://github.com/applesthepi/ub-vanilla
[submodule "dependencies/cpptoml"]
	path = dependencies/cpptoml
	url = https://github.com/skystrife/cpptoml
[submodule "dependencies/freetype"]
	path = dependencies/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "dependencies/rapidjson"]
	path = dependencies/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/applesthepi/stb
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/applesthepi/imgui
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
