[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "mods/ub_essentials"]
	path = mods/ub_essentials
	url = https://github.com/applesthepi/ub-essentials
[submodule "mods/ub_vanilla"]
	path = mods/ub_vanilla
	url = https://github.com/applesthepi/ub-vanilla
[submodule "ub_imgui"]
	path = ub_imgui
	url = https://github.com/applesthepi/ub-imgui
