RHR/INT
VanillaMods/*
mods
!/VanillaMods/ub-ModVin
!/VanillaMods/CMakeLists.txt
UnnamedBlocks/dep/BOOST64/
UnnamedBlocks/dep/SFML64/
UnnamedBlocks/dep/RHR/
UnnamedBlocks/.vs/
**.o
UnnamedBlocks.iobj
UnnamedBlocks.ipdb
unnamedblocks
UnnamedBlocks.exe
**.dll
**.lib
**.ilk
**.pdb
**.lo
**.exp
.deps
.dirstamp

dep
config.status
Makefile
.ycm_extra_conf.py
build
**.deps
