

**.o
**.dll
**.lib
**.a
**.ilk
**.pdb
**.lo
**.exp
.deps
.dirstamp
**.vs
dep
config.status
Makefile
.ycm_extra_conf.py
build
**.deps
!csfml/**
!tcc/**
!cmake/**
.clangd
compile_commands.json
\#*\#
*.user
html
latex
.idea
.vscode
toolchain